<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <menuitem
        id="e_module_update_menu_root"
        name="eModule Update"
        parent="base.menu_management"
        sequence="100">

        <menuitem
            id="e_module_update_git_menu_root"
            name="Methods"
            sequence="20">
            <menuitem
                id="e_module_update_manual_menu"
                name="Manual"
                action="action_ir_module_e_update_manual"
                sequence="10"/>
            <menuitem
                id="e_module_update_git_remote_menu"
                name="Git Remote"
                action="action_ir_module_e_update_git_remote"
                sequence="10"/>
        </menuitem>      

        <menuitem
            id="e_module_update_backups_menu"
            name="Backups"
            action="action_e_update_backups"
            sequence="30"/>  
    </menuitem>

</odoo>