<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <menuitem id="menu_sublimation_root"
            name="Sublimations"
            action="action_product_template_sublimation"
            web_icon="e_sublimation,static/description/icon.png"
            sequence="10">
        <menuitem id="menu_by_category_sublimation"
                name="By Categories"
                action="action_e_sublimation_category_kanban"
                sequence="10"/>
        <menuitem id="menu_sublimation_products_root"
            name="Options"
            sequence="20">
            <menuitem id="menu_sublimation_products"
                name="Products"
                action="stock.product_template_action_product"
                sequence="10"/>
            <menuitem id="menu_sublimation_products_variant"
                name="Product's Variant"
                action="stock.stock_product_normal_action"
                groups="product.group_product_variant"
                sequence="20"/>
            <menuitem id="menu_category_sublimation"
                name="Categories"
                action="action_e_sublimation_category"
                sequence="30"/>
        </menuitem>
        
        
        <menuitem
            id="menu_settings_root"
            name="Settings"
            sequence="30">
            
        </menuitem>
        
    </menuitem>
</odoo>