.search-component{    
    .btn-link {
        transition: color 0.2s;
        &:hover {
            transform: scale(1.1);
        }
    }

    
    .dropdown-menu{
    
        position: absolute !important;
        top: 100% !important;
        left: 0 !important;
        right: 0 !important;
        margin-top: 0.25rem; 
        transform: none !important;
        
        max-height: 220px;
        overflow-y: auto;
        
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        border: 1px solid #ced4da;
        border-radius: 0.375rem;
        
        z-index: 1050;
    }
}