.e_float {
    text-align: end !important;
    border: 1px solid transparent;
    background: transparent;
    width: 100%;
    padding: 0.25rem;
}

.e_float.is-invalid {
    border-color: #dc3545 !important;
    background-color: #fff5f5 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.e_float:focus {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: black;
}