<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <menuitem id="menu_design_root"
            name="Designs"
            action="product_design_action"
            web_icon="e_design,static/description/icon.png"
            sequence="50"
            groups="group_edesign_user,group_edesign_manager">
                <menuitem
                    id="design_menu"
                    name="Designs"
                    action="product_design_action"
                    sequence="10"/>
                <menuitem
                    id="product_menu"
                    name="Products"
                    action="e_design_product_template_action"
                    sequence="20"/>
                <menuitem
                    id="product_design_category_menu"
                    name="Categories"
                    action="action_product_design_category"
                    sequence="30"/>
    </menuitem>
</odoo>