.ebadge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375rem;
  
    &.badge-pill { border-radius: 50rem; }
  
    &.badge-warning {
      background-color: #ffc107;
      color: #212529;
    }
    &.badge-secondary {
        background-color:  #6c757d; 
        color: #fff;
      }
    &.badge-success {
      background-color: #198754;
      color: #fff;
    }
    &.badge-danger {
      background-color: #dc3545;
      color: #fff;
    }
  }